# vim: set filetype=systemd:
[Unit]
Description=Port forwarding manager server

[Service]
Type=simple
WorkingDirectory=/root/pfserver
ExecStart=/usr/local/bin/bundle exec ruby main.rb
Environment=APP_ENV=production

[Install]
WantedBy=multi-user.target
